:root {
  --primary-color: #4a90e2;
  --secondary-color: #f5f5f5;
  --text-color: #333;


}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;

}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.project-detail {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

header {

  padding: 15px;

  border-radius: 8px 8px 0 0;
}

#projectViewMode {
	overflow: scroll;
}


#projectDate, #projectStatus {
  font-style: italic;
  margin-bottom: 5px;
}

.project-content, .project-files, .project-tasks {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}

#fileList, #taskList {
  list-style-type: none;
  padding: 0;
}

#fileList li, #taskList li {
  margin-bottom: 10px;
}

#fileList a {
  color: var(--primary-color);
  text-decoration: none;
}

.btn {

  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-danger {
  background-color: #dc3545;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.btn:active {
  transform: translateY(1px);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
}

footer {
  display: block;
  align-items: center;
  float: right;
  gap: 1vw;
  justify-content: space-between;
}

  
  header {
    padding: 10px;
  }
  
  .footer-content {

    align-items: stretch;
  }
  
  .back-to-calendar {
    margin-bottom: 15px;
  }
  
  .button-group {
    display: flex;
    gap: 1vw;
    justify-content: space-between;
  }

textarea#projectDescription {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}




.btn-add {
  background-color: #fbb9c8;
 
}
#memberList ul {
position: absolute;
  left: 1vw;
}

.project-members-container {
  margin-bottom: 2vw;
}


.members-header {
  display: flex;

  align-items: center;
  margin-bottom: 1vw;
 
}

.member-invite-form {
display: flex;
  align-items: center;
  margin-left : 5vw;
}



#memberList {
  list-style-type: none;
  padding: 0;
}
.member-item {
    display: flex;
    align-items: center; /* 요소들을 세로 방향으로 중앙 정렬 */
    justify-content: space-between; /* 요소들을 양쪽으로 분산 */
    margin-bottom: 10px; /* 필요에 따라 조정 */
}
.member-delete-form {
    display: flex;
    align-items: center; /* 버튼을 세로 방향으로 중앙 정렬 */
    justify-content: space-between; /* 요소들을 양쪽으로 분산 */
    width: 100%;
}


.custom-font {
	font-family: 맑은고딕, Arial, sans-serif;
	font-size: 16px;
	overflow: auto;
	word-break: break-word;
	white-space: pre-wrap;
}

.member-name {
	width: 300px;
}





