@charset "UTF-8";


/* 0725 */

.btn:hover {
	background-color: #3574e2;
}


#container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4285f4;
    color: white;
    border: 1px solid #4285f4;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* input */
.input-title, textarea, select {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  
}

  
